@import url(https://fonts.googleapis.com/css?family=Lato:100,300,regular,italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Lato";
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.btn {
  display: inline-block;
  padding: 1.19em 2.75em;
  border: 1px solid;
  text-transform: uppercase;
}

.btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.btn--otherSize {
  padding: 9px 3.33em;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: #16a085;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  margin-left: 15px;
  color: #ffffff;
  opacity: .6;
  text-transform: uppercase;
  font-size: 14px;
}

.header__link a {
  color: inherit;
}

.header__link:hover {
  text-decoration: underline;
}

.header__link.active {
  opacity: 1;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top {
  background: #354556;
}

.top--bg {
  background: url(../../img/services-bg.jpg) 100% 100%/cover no-repeat;
}

.top__inner--padding {
  padding: 180px 0px 130px;
}

.top__inner--center {
  text-align: center;
}

.top__title {
  font-family: "Lato";
  font-weight: 100;
  color: #ffffff;
  font-size: 50px;
  line-height: 240%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.top__title--fz90 {
  font-size: 90px;
}

.top__title--noLH {
  line-height: normal;
}

.top__subtitle {
  font-family: "Lato";
  font-weight: 100;
  color: #a5b6c7;
  font-size: 34px;
  margin-bottom: 65px;
  text-transform: uppercase;
}

.top__btn {
  font-size: 16px;
  border-color: #868f9a;
  border-radius: 4px;
  color: #ffffff;
}

.present {
  margin: 75px 0 50px;
}

.present__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.present__item {
  text-align: center;
}

.present__item--mw {
  max-width: 290px;
}

.present__title {
  font-size: 28px;
  font-family: "Lato";
  text-transform: uppercase;
  color: #16a085;
  font-weight: 300;
  margin-bottom: 40px;
}

.present__subtitle {
  font-size: 14px;
  line-height: 171.42857%;
  color: #95a5a6;
  margin-bottom: 25px;
}

.present__subtitle span {
  border-bottom: 1px solid #95a5a6;
}

.present__text {
  font-size: 16px;
  line-height: 150%;
  font-family: "Lato";
  color: #7f8c8d;
}

.present__text p {
  margin-bottom: 30px;
}

.present__picture {
  margin-bottom: 45px;
}

.present__picture img {
  display: block;
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.present__picture span {
  font-size: 14px;
  color: #7f8c8d;
  font-style: italic;
}

.present__btn {
  font-size: 12px;
  color: #16a085;
  border-color: #16a085;
}

.posts {
  background: #ecf0f1;
  padding: 40px 0 25px;
}

.posts__title {
  font-family: "Lato";
  font-weight: 300;
  color: #2c3e50;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.posts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__item {
  max-width: 295px;
  margin-bottom: 15px;
}

.posts__item:hover > .posts__subtitle {
  text-decoration: underline;
}

.posts__previev {
  margin-bottom: 15px;
}

.posts__previev img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.posts__subtitle {
  font-family: "Open Sans";
  font-size: 18px;
  color: #16a085;
  margin-bottom: 15px;
}

.posts__subtitle a {
  color: inherit;
}

.posts__text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 157.14286%;
  color: #7f8c8d;
}

.team {
  padding: 80px 0px 50px;
}

.team__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
  color: #16a085;
  text-align: center;
  margin-bottom: 5px;
}

.team__previev {
  margin-bottom: 30px;
}

.team__previev img {
  width: 100%;
  height: 160px;
}

.team__text {
  font-size: 16px;
  line-height: 150%;
  color: #7f8c8d;
  text-align: center;
}

.team__text p {
  margin-bottom: 30px;
}

.why {
  background: #ecf0f1;
  padding: 40px 0px 20px;
}

.why__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__item {
  margin-bottom: 20px;
  max-width: 300px;
  text-align: center;
}

.why__title {
  font-size: 28px;
  font-weight: 300;
  color: #354556;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.why__text {
  font-size: 16px;
  line-height: 150%;
  color: #7f8c8d;
}

.service {
  padding: 80px 0px 65px;
}

.service__top {
  text-align: center;
}

.service__title {
  font-size: 40px;
  font-weight: 300;
  color: #16a085;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.service__text {
  font-size: 16px;
  line-height: 150%;
  color: #7f8c8d;
  margin-bottom: 40px;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 54%;
          flex: 1 1 54%;
  margin-right: 60px;
}

.service__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__point {
  font-size: 16px;
  line-height: 150%;
  color: #7f8c8d;
  position: relative;
  padding-left: 18px;
  margin-bottom: 5px;
}

.service__point::before {
  content: '';
  width: 8px;
  height: 8px;
  background: #16a085;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.widget {
  margin-bottom: 70px;
}

.widget__item {
  padding-top: 30px;
  border-top: 1px solid #ccd1d1;
}

.widget__picture {
  max-width: 490px;
  margin: 0 auto;
}

.widget__picture img {
  width: 100%;
  height: auto;
}

.form {
  margin: 80px 0px 50px;
}

.form__title {
  font-size: 40px;
  color: #16a085;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-right: 40px;
}

.form__text {
  font-size: 16px;
  line-height: 150%;
  color: #7f8c8d;
}

.form__text p {
  margin-bottom: 30px;
}

.form__text a {
  display: inline-block;
  color: inherit;
  margin-bottom: 30px;
}

.form__text a:hover {
  text-decoration: underline;
}

.form__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form__name {
  margin-bottom: 10px;
}

.form__name input {
  font-size: 16px;
  line-height: 187.5%;
  color: #7f8c8d;
  background: #ecf0f1;
  padding: 5px;
  max-width: 460px;
  width: 100%;
}

.form__name input:focus {
  border: 1px solid #16a085;
}

.form__name input:invalid {
  border: 1px solid #f3a59d;
}

.form__email {
  margin-bottom: 10px;
}

.form__email input {
  font-size: 16px;
  line-height: 187.5%;
  color: #7f8c8d;
  background: #ecf0f1;
  padding: 5px;
  max-width: 460px;
  width: 100%;
}

.form__email input:focus {
  border: 1px solid #16a085;
}

.form__email input:invalid {
  border: 1px solid #f3a59d;
}

.form__textarea {
  margin-bottom: 10px;
}

.form__textarea textarea {
  resize: none;
  font-size: 16px;
  line-height: 1.4;
  color: #7f8c8d;
  background: #ecf0f1;
  padding: 5px;
  max-width: 460px;
  width: 100%;
  height: 200px;
}

.form__textarea textarea:focus {
  border: 1px solid #16a085;
}

.form__btn {
  color: #16a085;
  background-color: transparent;
  font-size: 12px;
}

.footer {
  background: #2c3e50;
  padding: 40px 0 20px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__box {
  margin-right: 70px;
  margin-bottom: 20px;
}

.footer__title {
  font-family: "Open Sans";
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer__title a {
  color: inherit;
}

.footer__link {
  font-family: "Open Sans";
  color: #7f8e9c;
  font-size: 13px;
  line-height: 153.84615%;
}

.footer__link a {
  color: inherit;
}

.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .posts__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .posts__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }

  .why__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .why__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
  }

  .service__image {
    margin-right: 15px;
  }

  .form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__box {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .present__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .present__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: none;
    margin-bottom: 25px;
  }

  .service__point {
    font-size: 12px;
  }

  .footer__logo {
    display: none;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 19px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #18b5a5d5;
    padding: 90px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__link {
    margin: 0 0 30px 0;
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .top__title {
    font-size: 40px;
  }

  .top__title--fz90 {
    font-size: 70px;
  }

  .top__subtitle {
    font-size: 25px;
  }

  .top__btn {
    font-size: 13px;
  }

  .team {
    padding: 40px 0px 10px;
  }

  .team__title {
    font-size: 30px;
  }

  .service__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .service__image {
    margin: 0px 0px 15px 0px;
  }

  .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__box {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-right: 15px;
  }

  .footer__title {
    font-size: 10px;
  }

  .footer__link {
    font-size: 10px;
  }
}